.games-item-number {
  margin: -1px 0 1px;
  font-family: "Roboto-bold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .games-item-number {
    margin: 10px 0 -10px;

    &--mod {
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .games-item-number {
    margin: 2px 0 -2px;
    font-size: 40px;
    line-height: 40px;
  }
}
