.games-item-month {
  margin: -1px 0 1px;
  font-family: "Roboto-regular", sans-serif;
  font-size: 12px;
  line-height: 12px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .games-item-month {
    margin: 1px 0 -1px;
    font-size: 14px;
    line-height: 22px;
  }
}
