.contact-item-title {
  margin: 0 0 12px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .contact-item-title {
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .contact-item-title {
    font-weight: 400;
  }
}
