.contact-item-text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  color: #102654;
  outline: none;
  text-decoration: none;
}

.contact-item-text--mod {
  &:hover {
    color: #1c3374;
    opacity: 50;
  }

  &:focus {
    color: #1c3374;
  }

  &:active {
    color: #102654;
    text-decoration: underline;
  }

  &:disabled {
    opacity: 50%;
  }
}

@media (min-width: $tablet-width) {
  .contact-item-text {
    line-height: 22px;
  }
}
