.pane-input {
  position: absolute;
  width: 0;
  height: 0;
  appearance: none;
}

.pane-input:checked ~ .pane-text {
  display: block;
}

.pane-input:checked ~ label::before {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background: url("../img/sprite/minus.svg") no-repeat;
  background-size: 14px 2px;
  background-position: right 50% top 50%;
  background-color: #1c3374;
}

@media (min-width: $tablet-width) {
  .pane-input:checked ~ label::before {
    width: 40px;
    height: 40px;
    background: url("../img/sprite/minus-tab.svg") no-repeat;
    background-size: 20px 2px;
    background-position: right 50% top 50%;
    background-color: #1c3374;
  }
}
