.pane-text {
  max-height: 0;
  overflow: hidden;
}

.pane-text p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 20px;
  width: 238px;
}

.pane-text .faq-br-four {
  display: none;
}

@media (min-width: $tablet-width) {
  .pane-text p {
    margin-top: 0;
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 24px;
    width: 521px;
  }

  .pane-text .faq-br-three {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .pane-text p {
    margin-top: 1px;
    padding: 0 0 22px;
    width: 608px;
  }

  .pane-text .faq-br-four {
    display: block;
  }
}
