.reviews-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0;
  width: 240px;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .reviews-list {
    width: 500px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews-list {
    width: 560px;
  }
}
