.nav-list {
  margin: 0 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 290px;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .nav-list {
    margin: 0;
    justify-content: space-between;
    gap: 0;
    width: 392px;
  }
}

@media (min-width: $desktop-width) {
  .nav-list {
    margin: 0.5px 0 -0.5px;
    width: 599px;
  }
}
