.nav-link {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  color: #ffffff;
  outline: none;
  text-decoration: none;

  &:hover {
    margin-bottom: -6px;
    padding-bottom: 5px;
    border-bottom: #ffffff 1px solid;
  }

  &:focus {
    margin: -6px -11px;
    padding: 5px 10px;
    border: #ffffff 1px solid;
  }

  &:active {
    margin: 0;
    border: none;
    padding: 0;
  }

  &:disabled {
    opacity: 40%;
  }
}

@media (min-width: $tablet-width) {
  .nav-link {
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .nav-link {
    line-height: 20px;
  }
}
