.banner-info {
  width: 156px;
}

@media (min-width: $tablet-width) {
  .banner-info {
    margin: 32px 5px 0 -4px;
    grid-column: 2;
    grid-row: 1;
    width: 185px;
    align-content: baseline;
  }
}

@media (min-width: $desktop-width) {
  .banner-info {
    margin: 52px 56px 0 -56px;
    width: 270px;
  }
}
