.info-title {
  margin: 0;
  padding: 0;
  text-align: end;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 800;
  font-size: 62px;
  line-height: 62px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .info-title {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
  }
}

@media (min-width: $desktop-width) {
  .info-title {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
  }
}
