.reviews {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding: 60px 45px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding: 100px 0;
  }
}
