.games-title {
  margin: 0;
  font-family: "Alumni-semibold", sans-serif;
  font-size: 48px;
  line-height: 54px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0;
  width: 117px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .games-title {
    width: 100px;
  }
}

@media (min-width: $desktop-width) {
  .games-title {
    font-size: 82px;
    line-height: 96px;
    width: 168px;
  }
}
