.about {
  background-color: $white-color;
  padding-top: 40px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  gap: 36px;

  img {
    padding: 0;
    width: 100%;
  }
}

.about__text-wrap {
  h2 {
    text-align: left;
    margin-bottom: 12px;
  }

  h3 {
    padding: 0;
    margin: 0;

    font-family: $secondary-ff;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;

    margin-bottom: 36px;
  }

  p {
    padding: 0;
    margin: 0;

    &:nth-of-type(2) {
      display: none;
    }
  }
}

.about__video-wrap {
  position: relative;
  padding: 0;
}

.about__video-link {
  width: 72px;
  height: 72px;

  position: absolute;
  border: 2px solid $red-border;
  border-radius: 50%;
  background-color: transparent;
  top: 29%;
  right: 39%;
  z-index: 1;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 12%;
    left: 13%;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-image: $bg-button;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 42%;
    left: 45%;
    mask-image: url("/__spritemap#sprite-play-button-view");
    mask-size: 12px 12px;
    mask-repeat: no-repeat;
    background-color: $white-color;
  }
}

@media (min-width: $tablet-width) {
  .about {
    padding: 61px 45px 0;
    margin-bottom: -50px;

    gap: 0;
  }

  .about__text-wrap {
    margin: 0;
    padding: 0;
    text-align: center;

    h2 {
      text-align: center;
      margin-bottom: 19px;
    }

    h3 {
      font-size: 20px;
    }

    p {
      margin: 0 89px 36px;
    }
  }

  .about__video-wrap {
    z-index: 2;
    bottom: 85px;
    width: fit-content;
    margin: 0 auto;
  }

  .about__video-wrap iframe {
    width: 270px;
    height: 170px;
  }

  .about__video-link {
    left: 37%;
    right: 0;

    &::before {
      left: 10%;
    }

    &::after {
      left: 40%;
      top: 40%;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding: 120px 103px 123px;
    margin-bottom: 115px;

    display: flex;
    flex-direction: row;
    gap: 145px;

    position: relative;

    img {
      width: auto;
    }
  }

  .about__text-wrap {
    text-align: left;

    h2 {
      text-align: left;

      margin-bottom: 26px;
    }

    h3 {
      text-align: left;
      font-size: 22px;
      margin-bottom: 94px;
    }

    p {
      margin: 0;

      &:nth-of-type(2) {
        display: block;
        padding-top: 8px;
      }
    }
  }

  .about__video-wrap {
    z-index: 2;
    bottom: 8px;
    left: 503px;

    position: absolute;
  }

  .about__video-wrap iframe {
    width: 360px;
    height: 230px;
  }

  .about__video-link {
    width: 100px;
    height: 100px;
    top: 28%;
    left: 36%;

    &::before {
      top: 14%;
      left: 14%;
      width: 72px;
      height: 72px;
    }

    &::after {
      mask-size: 17px 17px;
      left: 45%;
      top: 42%;
    }

    &:hover {
      cursor: pointer;
      border-color: $grey-opacity;

      &::before {
        background-image: none;
        background-color: $white-color;
      }

      &::after {
        background-color: $grey-opacity;
      }
    }

    &:focus {
      border-color: $primary-color;

      &::before {
        background-image: none;
        background-color: $grey-border2;
      }

      &::after {
        background-color: $primary-color;
      }
    }

    &:active {
      border-color: $primary-color;

      &::before {
        background-image: none;
        background-color: $white-color;
      }

      &::after {
        background-color: $primary-color;
      }
    }

    &:disabled {
      border-color: $primary-color;
      opacity: 0.4;

      &::before {
        background-image: none;
        background-color: $white-color;
      }

      &::after {
        background-color: $primary-color;
      }
    }
  }
}

