.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  min-height: 66px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: opacity $trans-default, background-color $trans-default,
    color $trans-default;

  &--on-dark {
    background-color: $color-transparent;
    border: 2px solid $stroke-light;
    color: $text-light;

    &:focus {
      outline: none;
      border-color: $stroke-black;
      background-color: rgba($color-transparent, 0.8);
      color: $text-action;
    }

    &:hover {
      background-color: $color-white;
      color: $text-action;
    }

    &:active,
    &.is-active {
      border-color: $stroke-light;
      background-color: $color-white;
      color: $text-dark;
    }

    &:disabled,
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  &--on-light {
    background-color: $color-transparent;
    border: 2px solid $stroke-dark;
    color: $text-dark;

    &:focus {
      outline: none;
      border-color: $stroke-black;
      background: linear-gradient(
        151deg,
        rgba(237, 2, 51, 0.8) 0%,
        rgba(0, 62, 183, 0.8) 100%
      );
      color: $text-light;
    }

    &:hover {
      border: none;
      background: $fill-gradient;
      color: $text-light;
    }

    &:active,
    &.is-active {
      border: none;
      background: $fill-gradient;
      color: rgba($text-light, 0.7);
    }

    &:disabled,
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
      opacity: 0.3;
    }
  }
}
