.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1366px;
    padding: 0;
  }
}
