.contacts {
  flex: 0 1 50%;
  display: flex;
  border-top: 1px solid #74819c;
  align-items: flex-start;
  position: relative;

  @include vp-1365 {
    flex: 0 1 100%;
    justify-content: center;
    border-top: none;
  }
}

.contacts__container {
  width: 100%;
  max-width: 580px;
  margin-right: auto;
  padding-left: 103px;

  //
  padding-top: 60px;
  min-height: 338px;

  //

  @include vp-1365 {
    max-width: 440px;
    margin: 0;
    padding-left: 0;

    //
    padding-top: 60px;
    min-height: 327px;

    //
  }

  @include vp-767 {
    max-width: 290px;
    padding-top: 36px;

    //
    min-height: 438px;

    //
  }
}

.contacts__title {
  margin: 0;

  //
  margin-bottom: 36px;

  //

  @include vp-1365 {
    text-align: center;
    font-size: 54px;
    line-height: 54px;

    //
    margin-bottom: 36px;

    //
  }

  @include vp-767 {
    margin-bottom: 38px;
    text-align: left;
    font-size: 32px;
    line-height: 32px;
  }
}

.contacts__content {
  position: relative;
  display: flex;
  align-items: flex-start;
  column-gap: 120px;

  @include vp-1365 {
    column-gap: 60px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: stretch;
    column-gap: 0;
    row-gap: 28px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #74819c;

    @include vp-767 {
      display: none;
    }
  }
}

.contacts__col {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;

  @include vp-767 {
    row-gap: 28px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts__item-title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  //
  margin-bottom: 6px;

  //

  @include vp-1365 {
    //
    margin-bottom: 5px;

    //
  }

  @include vp-767 {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 20px;
  }
}

.contacts__item-descr {
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  @include vp-767 {
    line-height: 20px;
  }
}

a.contacts__item-descr {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transition: background-color $trans-default;

    // @include vp-767 {
    //   display: none;
    // }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    color: $color-action;
  }

  &:hover:not(:focus-visible):not(:active):not(.disabled) {

    &::after {
      background-color: $color-action;
    }
  }

  &:active {
    color: $color-black;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

.nav__list a.disabled {
  pointer-events: none;
  opacity: 0.4;
}
