.form {
  form {
    padding: 70px 15px;
    background-color: $primary-color;

    color: $white-color;
  }

  h2 {
    text-align: left;
    margin-bottom: 37px;
  }
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 36px;
}

.form__input {
  border: none;
  padding: 0;
  padding-bottom: 4px;
  background-color: transparent;
  height: 27px;
  border-bottom: 1px solid $grey-secondary;
  width: 100%;

  color: $white-color;

  appearance: none;
  outline: none;

  &:hover {
    color: $white-color;
    border-bottom-color: $white-color;
  }

  &:focus {
    border: 1px solid $white-color;
    padding: 10px 4px;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.form__input.error {
  border-bottom-color: $red-error;
}

.form__error {
  display: block;
  margin-bottom: 2px;

  color: $red-error;
  font-weight: 400;
}

.form__button {
  border: 2px solid $white-color;
  background-color: transparent;
  width: 100%;
  padding: 22px 15px;

  font-family: $secondary-ff;
  color: $white-color;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form {
    form {
      padding: 60px 164px 61px;
    }

    h2 {
      text-align: center;
      font-family: $primary-ff;
      font-size: 54px;
      line-height: 54px;
      font-weight: 600;

      margin-bottom: 35px;
    }
  }

  .form__list {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

    margin-bottom: 35px;

    li {
      width: 100%;
    }

    input {
      padding-bottom: 0;
    }
  }

  .form__button {
    padding: 26px 20px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 1366px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    form {
      padding: 60px 103px;

      h2 {
        text-align: left;
      }
    }
  }

  .form__input:hover {
    color: $white-color;
    border-bottom-color: $white-color;
  }
}
