.games {
  position: relative;
  padding: 24px 15px;
  margin-bottom: 290px;
  display: grid;
  grid-template-columns: 290px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding: 59px 45px;
    grid-template-columns: 300px 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 103px;
    width: 1366px;
    grid-template-columns: 500px 1fr;
  }
}

.games::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -266px;
  left: 50%;
  transform: translateX(-50%);
  width: 290px;
  height: 290px;
  background-image:
    image-set(url("../../img/super-games-mobile.webp") 1x type("image/webp"),
    url("../../img/super-games-mobile.jpg") 1x,
    url("../../img/super-games-mobile@2x.webp") 2x type("image/webp"),
    url("../../img/super-games-mobile@2x.jpg") 2x);
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 59px;
    right: 45px;
    left: auto;
    transform: none;
    width: 378px;
    height: 348px;
    background-image:
      image-set(url("../../img/super-games-tablet.webp") 1x type("image/webp"),
      url("../../img/super-games-tablet.jpg") 1x,
      url("../../img/super-games-tablet@2x.webp") 2x type("image/webp"),
      url("../../img/super-games-tablet@2x.jpg") 2x);
  }

  @media (min-width: $desktop-width) {
    top: 101px;
    right: 103px;
    width: 660px;
    height: 500px;
    background-image:
      image-set(url("../../img/super-games-desktop.webp") 1x type("image/webp"),
      url("../../img/super-games-desktop.jpg") 1x,
      url("../../img/super-games-desktop@2x.webp") 2x type("image/webp"),
      url("../../img/super-games-desktop@2x.jpg") 2x);
  }
}

.games__container {
  padding: 40px;
  background-color: $background-banner;
  color: $base-white;
  display: grid;
  grid-template-columns: 1fr 56px;
  grid-template-rows: repeat(3, min-content);
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 100px;
    row-gap: 3px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 80px 98px;
    row-gap: 25px;
  }
}

.games__title {
  margin: 0;
  font-size: 48px;
  line-height: 54px;
  font-weight: 600;

  @media (min-width: $desktop-width) {
    font-size: 82px;
    line-height: 96px;
  }
}

.games__list {
  margin: 0;
  text-align: left;
  font-family: $secondary-font;
  font-weight: 300;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 5px;
  }
}

.games__term {
  border-bottom: 1px solid $base-white;
  font-weight: 300;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    margin-bottom: 7px;
    padding-bottom: 5px;
  }
}

.games__description {
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
  letter-spacing: 1px;

  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 19px;
    letter-spacing: 1.4px;
  }
}

.games__date {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }
}

.games__text {
  margin: 0;
  grid-column: 1/3;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
  }
}

.games__link {
  grid-column: 1/3;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.games__image {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}
