@use "../global/variables";
@use "../global/mixins";

.hero {
  background-image: variables.$bg-primary-color;
  color: variables.$primary-white-color;
  margin-bottom: 40px;

  @media (min-width: variables.$tablet-width) {
    padding-bottom: 99px;
    margin-bottom: 60px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-bottom: 120px;
    margin-bottom: 120px;
  }
}

.hero__group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 21px;
  padding-top: 48px;

  @media (min-width: variables.$pre-tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    gap: 22px 30px;
    padding-top: 0;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: 532px 500px;
    gap: 22px 56px;
    padding-top: 30px;
  }
}

.hero__container {
  display: contents;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0 26px;
    width: 324px;
  }

  @media (min-width: variables.$desktop-width) {
    width: auto;
    gap: 0;
  }
}

.hero__group-image {
  display: none;

  @media (min-width: variables.$pre-tablet-width) {
    display: block;
  }
}

.hero__group-description-list {
  @include mixins.font-style(variables.$primary-font, 14px, 20px, 400);

  text-align: end;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: variables.$tablet-width) {
    align-self: center;
    line-height: 22px;
    padding-top: 119px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 131px;
  }
}

.hero__title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 14px;
  max-width: 155px;

  @media (min-width: variables.$tablet-width) {
    gap: 0;
    max-width: 185px;
    padding-top: 15px;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 0;
    max-width: 270px;
    padding-top: 26px;
  }
}

.hero__group-title {
  @include mixins.font-style(variables.$secondary-font, 62px, 62px, 800);

  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: right;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    @include mixins.font-style(variables.$secondary-font, 72px, 85px, 800);

    letter-spacing: 0.02em;
  }

  @media (min-width: variables.$desktop-width) {
    @include mixins.font-style(variables.$secondary-font, 92px, 110px, 800);

    letter-spacing: 0.04em;
  }
}

.hero__group-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 60px;
  margin-top: 26px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;

  @include mixins.font-style(variables.$primary-font, 12px, 100%, 700);

  &:hover {
    background-color: variables.$primary-white-color;
    color: variables.$additional-accent-color;
  }

  &:focus-visible {
    outline: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.8);
    color: variables.$additional-accent-color;
    border: 2px solid #000000;
  }

  &:active {
    color: variables.$primary-dark-color;
    background-color: variables.$primary-white-color;
  }

  @media (min-width: variables.$tablet-width) {
    min-width: 182px;
    min-height: 53px;
    align-self: flex-start;
    margin-top: 34px;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 270px;
    min-height: 66px;
    margin-top: 14px;
  }
}

.hero__group-subtitle {
  @include mixins.font-style(variables.$secondary-font, 32px, 32px, 600);

  @media (min-width: variables.$tablet-width) {
    align-self: flex-end;
    margin-bottom: 10px;

    @include mixins.font-style(variables.$secondary-font, 42px, 42px, 600);
  }

  @media (min-width: variables.$desktop-width) {
    @include mixins.font-style(variables.$secondary-font, 54px, 54px, 600);

    margin-bottom: 41px;
  }
}
