.info {
  display: flex;
  justify-content: center;
  font-size: 0;
  line-height: 0;
  align-items: stretch;

  @include vp-1365 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}
