.price {
  background-color: $color-light;
  padding-top: 100px;
  padding-bottom: 101px;
  background-image: url("../../img/decor-desktop.webp");
  background-repeat: no-repeat;
  background-position: 100% 100.4%;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/decor-desktop2x.webp");
  }

  @include vp-1365 {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../../img/decor-tablet.webp");
    background-position: 100% 100%;
  }

  @media (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: url("../../img/decor-tablet2x.webp");
  }

  @include vp-767 {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: none;
  }
}

.price__title {
  margin: 0;
  margin-bottom: 19px;
  text-align: center;

  @include vp-1365 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.price__tabs {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-767 {
    width: 100%;
    max-width: 290px;
    margin: 0 auto;
  }
}
