.subitem__title {
  font-family: $secondary-font;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 17px;
  }
}

.subitem__text {
  font-family: $secondary-font;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 65px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
  }
}

.subitem__cost {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: $base-secondary;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    font-size: 60px;
    line-height: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

// .subitem:nth-child(1) .subitem__cost::before {
//   position: absolute;
//   content: "5000";
//   font-size: 80px;
//   font-weight: 700;
//   line-height: 120px;
//   text-align: center;
//   color: rgba(232, 232, 232, 1);
//   bottom: 0;
// }

.subitem__cost::after {
  display: block;
  content: "";
  width: 24px;
  height: 33px;
  background-image: url("../../img/sprite/rub.svg");
  background-size: 24px 33px;
  background-repeat: no-repeat;
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 42px;
    background-size: 30px 42px;
    margin-left: 14px;
  }
}

.subitem:nth-child(2) .subitem__cost {
  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.subitem__link {
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
}
