.juri-hover {
  display: none;
  position: absolute;
  top: 0;
  font-family: "Roboto-regular", sans-serif;
  text-align: center;
  padding: 61px 40px;
  color: #ffffff;
  background: rgba(16, 38, 84, 89%);
}
