// Display Resolution

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;

// Fonts
$primary-font: "Alumni Sans", "Arial", sans-serif;
$secondary-font: "RobotoCondensed", "Arial", sans-serif;

// Colors (fonts, buttons, form)

$base-primary: #102654;
$base-secondary: #103aae;
$base-white: #ffffff;
$condition-color-tabs: #d10a42;
$error-form: #ff121f;

// Background Colors

$background-secondary: #f8f9fc;
$background-banner: #ed0233;
$background-footer: #030a1a;
$background-additional: #1c3374;

