.month-item-title {
  margin: 0 0 18px;
  font-family: "Roboto-bold", sans-serif;
  font-size: 22px;
  line-height: 22px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .month-item-title {
    margin: 0 0 22px;
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .month-item-title {
    margin: 0 0 17px;
    font-size: 26px;
    line-height: 26px;
  }
}
