.juri-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  min-height: 300px;

  &:hover {
    .juri-hover {
      display: block;
    }
  }

  &:focus {
    .juri-hover {
      display: block;
    }
  }
}

.juri-item__img {
  display: block;
}
