.hero-btn {
  display: block;
  padding: 22px 0;
  font-family: "Roboto-bold", sans-serif;
  font-size: 12px;
  line-height: 12px;
  width: 286px;
  color: #ffffff;
  background: transparent;
  border: #ffffff 2px solid;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;


  &:hover {
    background-color: #ffffff;
    color: #103aae;
  }

  &:focus {
    background: rgb(255, 255, 255, 0.2);
    border-color: #000000;
    color: #103aae;
  }

  &:active {
    background: #ffffff;
    background-color: #ffffff;
    color: #102654;
  }

  &:disabled {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
    opacity: 50%;
  }
}

@media (min-width: $tablet-width) {
  .hero-btn {
    position: absolute;
    bottom: 131px;
    left: 184px;
    width: 185px;
    font-size: 12px;
    line-height: 12px;
  }
}

@media (min-width: $desktop-width) {
  .hero-btn {
    bottom: 172px;
    left: 365px;
    width: 270px;
  }
}
