.form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
  width: 100%;
  color: #ffffff;
  background-color: #102654;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 60px 0 59.5px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 60px 103px;
    width: 477px;
  }
}
