.juri-btn {
  margin: 0;
  position: absolute;
  display: none;
  padding: 0;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  stroke: #102654;

  &:hover {
    border: #102654 1px solid;
  }

  &:focus {
    background-color: #e8e8e8;
    border: #102654 1px solid;
  }

  &:active {
    background-color: #102654;
    border: #102654 1px solid;
    stroke: #ffffff;
  }

  &:disabled {
    opacity: 30%;
  }
}

@media (min-width: $tablet-width) {
  .juri-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    &--left {
      top: 50%;
      left: 32px;
    }

    &--right {
      top: 50%;
      right: 32px;
      transform: rotate(180deg);
    }
  }
}

@media (min-width: $desktop-width) {
  .juri-btn {
    &--left {
      left: 31px;
    }

    &--right {
      right: 31px;
    }
  }
}
