.juri-title {
  margin: 0 0 20px;
  font-family: "Alumni-semibold", sans-serif;
  font-size: 32px;
  line-height: 32px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .juri-title {
    margin: 0 0 46px;
    font-size: 54px;
    line-height: 54px;
  }
}
