.features-list {
  margin: 0 auto 40px;
  display: flex;
  flex-direction: column;
  width: 290px;
  padding: 0 15px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .features-list {
    margin-bottom: 39px;
    flex-direction: row ;
    justify-content: space-between;
    width: 678px;
    padding: 0;
    text-align: start;
    &--mod {
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .features-list {
    position: relative;
    margin: 0 auto ;
    width:1160px;
    padding: 0 0 49px;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      opacity: 20%;
      width: 360px;
      border-bottom: #D10A42 2px solid;
    }

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      content: "";
      opacity: 20%;
      width: 360px;
      border-bottom: #D10A42 2px solid;
    }
  }

  .features-list--mod {
    padding: 38px 0 0;

    &::before{
      display: none;
    }

    &::after {
      display: none;
    }
  }

}
