.features-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.features-item:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .features-item {
    flex-direction: row ;
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .features-item {
    width: 360px;
  }
}
