body {
  font-family: $secondary-ff;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: $primary-color;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}


img {
  height: auto;
  object-fit: contain;
  display: block;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::placeholder {
  color: $white-color;
  font-family: $secondary-ff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  opacity: 0.4;

  @media (min-width: $tablet-width) {
    font-weight: 400;
  }
}
