@use "../global/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  min-width: variables.$phone-width;
  font-family: variables.$primary-font;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  min-height: 100%;
  color: variables.$primary-dark-color;
  margin: 0;
}

img {
  display: block;
  object-fit: contain;
}
