
@mixin font-face ($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin font-style($font-family,$font-size, $line-height, $font-weight) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-style: normal;
  font-weight: $font-weight;
}

