
@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin font-style($font-family,$font-size, $line-height, $font-weight) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-style: normal;
  font-weight: $font-weight;
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/roboto-condensed/roboto-condensed-light.woff2") format("woff2"),
    url("../../fonts/roboto-condensed/roboto-condensed-light.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/roboto-condensed/roboto-condensed-regular.woff2") format("woff2"),
    url("../../fonts/roboto-condensed/roboto-condensed-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/roboto-condensed/roboto-condensed-bold.woff2") format("woff2"),
    url("../../fonts/roboto-condensed/roboto-condensed-bold.woff") format("woff");
}

@font-face {
  font-family: "Alumni Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/alumni-sans/alumni-sans-semibold.woff2") format("woff2"),
    url("../../fonts/alumni-sans/alumni-sans-semibold.woff") format("woff");
}

@font-face {
  font-family: "Alumni Sans";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/alumni-sans/alumni-sans-extrabold.woff2") format("woff2"),
    url("../../fonts/alumni-sans/alumni-sans-extrabold.woff") format("woff");
}

