@use "../global/variables";

.title {
  font-family: variables.$secondary-font;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 54px;
    line-height: 54px;
  }
}
