/* Fonts */
$primary-font: "Roboto Condensed", "Arial", sans-serif;
$secondary-font: "Alumni Sans", "Arial", sans-serif;

/* Base colors */
$primary-dark-color: #102654;
$primary-white-color: #ffffff;
$additional-accent-color: #103aae;
$additional-gradient-color: linear-gradient(130deg, #d10a42 0%, #0041ca 100%);
$primary-dark-blue-color: #1c3374;


/* Button color */
$button-gradient-color: linear-gradient(150deg, #ed0233 0%, #003eb7 100%);
$button-tabs-color: #d10a42;

/* Background colors */
$bg-primary-color: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$bg-additional-color: #f8f9fc;
$bg-footer-color: #030a1a;
$bg-banner-color: #ed0233;

/* Form colors */
$error-color: #ff121f;

/* Breakpoints */
$phone-width: 320px;
$pre-tablet-width: 767px;
$tablet-width: 768px;
$pre-desktop-width: 1365px;
$desktop-width: 1366px;
