$primary-ff: "Alumni Sans", "Arial", sans-serif;
$secondary-ff: "Roboto Condensed", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-width-only: 767px;
$primary-color: #102654;
$primary-color-opacity: rgba(16, 38, 84, 0.7);
$bg: rgba(16, 38, 84, 0.89);
$primary-opacity: rgba(16, 38, 84, 0.5);
$primary-opacity2: rgba(16, 38, 84, 0.3);
$white-color: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.7);
$white-opacity2: rgba(255, 255, 255, 0.3);
$white-focus: rgba(255, 255, 255, 0.8);
$blue-color: #103aae;
$blue-secondary: #2e35ac;
$blue-opacity: rgba(28, 51, 116, 0.5);
$bg-blue: #1c3374;
$bg-secondary: #f8f9fc;
$bg-color: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$price-color: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
$border-color: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
$bg-button: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
$bg-focus: linear-gradient(97.05deg, rgba(237, 2, 51, 0.8) 17.6%, rgba(0, 62, 183, 0.8) 95.31%);
$red-color: #ed0233;
$dark-red: #d10a42;
$red-border: rgba(209, 10, 66, 0.2);
$grey-color: rgba(120, 120, 120, 0.2);
$grey-secondary: #74819c;
$grey-border: rgba(16, 38, 84, 0.2);
$grey-price: #e8e8e8;
$dark: #030a1a;
$black: #000000;
$grey-button: rgba(16, 38, 84, 0.3);
$grey-opacity: rgba(16, 38, 84, 0.6);
$grey-border-secondary: #787878;
$grey-border2: #c8c9cc;
$text-color: #b6bdcc;
