// Viewports
// ---------------------------------
$vp-768: 768px;
$vp-1200: 1200px;

// Retina
// ---------------------------------
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors
// ---------------------------------
// Text
$text-dark: #102654;
$text-light: #ffffff;
$text-action: #103aae;
$text-action-alternative: #1c3374;
$text-action-gradient: linear-gradient(129deg, #d10a42 0%, #0041ca 100%);

// form
$text-form: #ffffff;
$text-error: #ff121f;

// Buttons/Links
$stroke-light: #ffffff;
$stroke-dark: #102654;
$stroke-black: #000000;
$stroke-dark-alternative: #1c3374;
$fill-tabs: #d10a42;
$fill-gradient: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);

// Icons
$icon-light: #ffffff;
$icon-dark: #102654;

// Default
$color-white: #ffffff;
$color-black: #030a1a;
$color-red: #ed0233;
$color-dark: #102654;
$color-dark-alternative: #1c3374;
$color-transparent: rgba(255, 255, 255, 0);
$color-gradient: linear-gradient(
  90deg,
  #1c3477 0%,
  #1c3477 0.01%,
  #1a3578 39.11%,
  #73184b 75.5%,
  #b4022a 100%
);

$fz-default: 16px;
$font-family: "RobotoCondensed", "Arial", sans-serif;
$second-family: "AlumniSans", "Arial", sans-serif;
$ff-placeholder: $font-family;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;
