.about-title {
  margin: 0 0 12px;
  font-family: "Alumni-semibold", sans-serif;
  font-size: 32px;
  line-height: 32px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .about-title {
    margin-left: -1px;
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 42px;
  }
}

@media (min-width: $desktop-width) {
  .about-title {
    margin-bottom: 25px;
    font-size: 54px;
    line-height: 54px;
  }
}
