.title-text {
  margin: 0 auto;
  padding: 40px  15px 36px;
}

.title-text span {
  margin: 0;
  padding: 0;
  display: none;
}

.title-text p {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .title-text {
    width: 480px;
    padding: 61px 45px 36px;
    text-align: center;
  }

  .title-text p {
    font-size: 16px;
    line-height: 24px;
  }

  .title-text br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .title-text {
    margin: 0;
    width: 355px;
    padding: 0;
    text-align: start;
  }

  .title-text p {
    width: 350px;
  }

  .title-text span {
    margin-top: 9px;
    display: block;
    font-size: 16px;
    line-height: 24px;
    width: 330px;
  }
}
