.hero-text {
  margin: 0;
  padding: 0;
  text-align: right;
  font-family: "Roboto-regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .hero-text {
    font-size: 14px;
    line-height: 22px;
  }
}
