.hero-text {
  margin: 110px 0 0;
  width: 113px;
}

@media (min-width: $tablet-width) {
  .hero-text {
    margin: 162px -4px 0 4px;
    grid-column: 1;
    grid-row: 1;
    align-content: baseline;
  }
}

@media (min-width: $desktop-width) {
  .hero-text {
    margin: 229px 23px 0 -23px;
  }
}
