.offer-red-btn {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 3px;
  border-bottom: #ffffff 1px solid;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
