.contacts {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 37px 0 12px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 59px 103px 71px;
  }
}
