@import "vendor/normalize";
@import "blocks/variables";
@import "blocks/body";
@import "blocks/fonts";
@import "blocks/no-js";
@import "blocks/visually-hidden";
@import "blocks/img";
@import "header/hero";
@import "header/hero-container";
@import "header/hero-contact/hero-contact";
@import "header/hero-contact/hero-logo";
@import "header/hero-contact/hero-tel";
@import "header/hero-banner/hero-banner";
@import "header/hero-banner/banner-info/banner-info";
@import "header/hero-banner/banner-info/info-city";
@import "header/hero-banner/banner-info/info-title";
@import "header/hero-banner/hero-text/info-text";
@import "header/hero-banner/hero-text/hero-text";
@import "header/hero-banner/picture/banner-picture";
@import "header/btn-container/btn-container";
@import "header/btn-container/hero-btn";
@import "main/main";
@import "main/about/about";
@import "main/about/about-container";
@import "main/about/title-text/title-text";
@import "main/about/title-text/about-title";
@import "main/about/title-text/about-info";
@import "main/about/picture-container/picture-container";
@import "main/about/picture-container/about-img";
@import "main/about/picture-container/video/video";
@import "main/about/picture-container/video/video-iframe";
@import "main/about/picture-container/video/btn-play/btn-play";
@import "main/about/picture-container/video/btn-play/play-img";
@import "main/price/price";
@import "main/price/price-title";
@import "main/price/tab-list/tab-list";
@import "main/price/tab-list/tab-item-btn";
@import "main/price/tab-content/pane";
@import "main/price/tab-content/price-month/price-month";
@import "main/price/tab-content/price-month/month-item/month-item";
@import "main/price/tab-content/price-month/month-item/month-item-title";
@import "main/price/tab-content/price-month/month-item/month-item-text";
@import "main/price/tab-content/price-month/month-item/month-item-container/month-item-container";
@import "main/price/tab-content/price-month/month-item/month-item-container/month-item-price";
@import "main/price/tab-content/price-month/month-item/month-item-container/pane-rub";
@import "main/price/tab-content/price-month/month-item/month-item-container/month-item-btn";
@import "main/games/games";
@import "main/games/games-container/games-container";
@import "main/games/games-container/games-info/games-info";
@import "main/games/games-container/games-info/games-title";
@import "main/games/games-container/games-info/games-info-text";
@import "main/games/games-container/games-info/games-btn";
@import "main/games/games-container/games-info/games-list/games-list";
@import "main/games/games-container/games-info/games-list/games-item/games-item";
@import "main/games/games-container/games-info/games-list/games-item/games-text";
@import "main/games/games-container/games-info/games-list/games-item/games-item-text";
@import "main/games/games-container/games-info/games-list/games-item/games-item-number";
@import "main/games/games-container/games-info/games-list/games-item/games-item-month";
@import "main/games/games-container/games-info/games-list/games-item/games-item-year";
@import "main/games/games-picture/games-picture";
@import "main/juri/juri";
@import "main/juri/juri-title";
@import "main/juri/juri-btn";
@import "main/juri/juri-list/juri-list";
@import "main/juri/juri-list/juri-item";
@import "main/juri/juri-list/juri-item-name";
@import "main/juri/juri-list/juri-hover/juri-hover";
@import "main/juri/juri-list/juri-hover/juri-hover-name";
@import "main/juri/juri-list/juri-hover/juri-hover-list/juri-hover-list";
@import "main/juri/juri-list/juri-hover/juri-hover-direction";
@import "main/juri/juri-list/juri-hover/juri-hover-list/juri-progress-item";
@import "swiper/css";
@import "main/features/features";
@import "main/features/features-container";
@import "main/features/features-title";
@import "main/features/features-list/features-list";
@import "main/features/features-list/features-item";
@import "main/features/features-list/features-item-number";
@import "main/features/features-list/features-item-text";
@import "main/features/features-block";
@import "main/offers/offers";
@import "main/offers/offers-title";
@import "main/offers/offers-container/offers-container";
@import "main/offers/offers-container/offers-limited/offers-limited";
@import "main/offers/offers-container/offers-limited/offer-red/offer-red";
@import "main/offers/offers-container/offers-limited/offer-red/offer-red-btn";
@import "main/offers/offers-container/offers-limited/offers-limited-img";
@import "main/offers/offers-container/offers-list/offers-list";
@import "main/offers/offers-container/offers-list/offers-item";
@import "main/offers/offers-container/offers-list/offers-button";
@import "main/reviews/reviews";
@import "main/reviews/reviews-title";
@import "main/reviews/reviews-slyder";
@import "main/reviews/reviews-list/reviews-list";
@import "main/reviews/reviews-list/reviews-item";
@import "main/reviews/reviews-list/reviews-item-img";
@import "main/reviews/reviews-list/reviews-text/reviews-text";
@import "main/reviews/reviews-btn/reviews-btn";
@import "main/form/form-contacts";
@import "main/form/form/form";
@import "main/form/form/form-title";
@import "main/form/form/form-btn";
@import "main/form/form/form-application/form-application";
@import "main/form/form/form-application/application-input";
@import "main/form/form/form-application/form-input";
@import "main/form/form/contacts/contacts";
@import "main/form/form/contacts/contacts-title";
@import "main/form/form/contacts/contacts-container/contacts-container";
@import "main/form/form/contacts/contacts-container/contact-list/contact-list";
@import "main/form/form/contacts/contacts-container/contact-list/contact-item";
@import "main/form/form/contacts/contacts-container/contact-list/contact-item-title";
@import "main/form/form/contacts/contacts-container/contact-list/contact-item-text";
@import "footer/footer";
@import "footer/footer-container/footer-container";
@import "footer/footer-container/footer-logo/footer-logo";
@import "footer/footer-container/nav-list/nav-list";
@import "footer/footer-container/nav-list/nav-item";
@import "footer/footer-container/nav-list/nav-link";
@import "footer/footer-container/social-list/social-list";
@import "footer/footer-container/social-list/social-link";
