.hero {
  background: linear-gradient(to right, #003d85 35%, #b80027);
  &__container {
    width: $mobile-width;
    margin: 0 auto;
    padding-bottom: 32px;
  }
}

@media (min-width: $tablet-width) {
  .hero {
    &__container {
      position: relative;
      width: $tablet-width;
      padding-bottom: 100px;
    }
  }
}

@media (min-width: $desktop-width) {
  .hero {
    &__container {
      position: relative;
      width: $desktop-width;
      padding-bottom: 120px;
    }
  }
}
