.hero-tel {
  margin: -1px 0 1px 1px;
  font-family: "Roboto-bold", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  outline: none;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .hero-tel {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .hero-tel {
    font-size: 26px;
    line-height: 26px;
  }
}
