.hero-contact__tel {
  display: flex;
  font-family: "Roboto-bold", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  outline: none;
  text-decoration: none;
}
