.hero-contact__tel {
  margin: 0;
  font-family: "Roboto-bold", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  outline: none;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .hero-contact__tel {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .hero-contact__tel {
    font-size: 26px;
    line-height: 26px;
  }
}
