.faq {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
  width: 100%;
  background-color: #F8F9FC;
}

@media (min-width: $tablet-width) {
  .faq {
    padding: 60px 0;
  }
}

@media (min-width: $desktop-width) {
  .faq {
    align-items: start;
    padding: 100px 0;
  }
}
