.social-link {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 50%;
  background-color: #ffffff;
  text-decoration: none;
  outline: none;
}
