.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 50%;
  background-color: #ffffff;
  text-decoration: none;
  outline: none;
  fill: #030a1a;

  &:hover {
    background-color: #74819c;
    fill: #ffffff;
  }

  &:focus {
    background-color: #103aae;
    fill: #ffffff;
  }

  &:active {
    background-color: #102654;
    fill: #ffffff;
  }

  &:disabled {
    background-color: rgba(255, 255, 255, 30%);
    fill: #030a1a;
  }

  &--disabled {
    background-color: rgba(255, 255, 255, 30%);
    fill: #030a1a;
  }
}


@media (min-width: $desktop-width) {
  .social-link {
    display: block;
    align-items: baseline;
    justify-content: start;
  }
}
