@media (min-width: $desktop-width) {
  .social-img--vk {
    margin: 6.5px 6px;
    width: 13px;
    height: 13px;
  }

  .social-img--ok {
    margin: 4px 0 0 8px;
    width: 10px;
    height: 17px;
  }

  .social-img--reddit {
    margin: 5px;
    width: 15px;
    height: 15px;
  }
}
