.offers-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0;
  width: 290px;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .offers-list {
    flex-direction: row;
    width: 678px;
  }
}

@media (min-width: $desktop-width) {
  .offers-list {
    flex-direction: column;
    gap: 30px;
    width: 560px;
  }
}
