.play-img {
  top: 30px;
  left: 29px;
  bottom: 30px;
  position: absolute;
  z-index: 2;
  fill: #ffffff;
}

@media (min-width: $desktop-width) {
  .play-img {
    top: 41px;
    left: 40px;
    bottom: 30px;
    width: 17px;
    height: 17px;
  }
}
