.form-input {
  margin: 0;
  font-family: "Roboto-light", sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 281px;
  padding: 0 0 3px;
  color: #ffffff;
  border-top: transparent 1px solid;
  border-left: none;
  border-right: transparent 1px solid;
  border-bottom: #74819c 1px solid;
  background-color: transparent;
  outline: none;

  &::placeholder {
    color: #ffffff;
    opacity: 30%;
  }

  &:hover {
    border-bottom: #ffffff 1px solid;
  }

  &:focus {
    width: 282px;
    padding: 0 3px 3px;
    border: 1px solid #ffffff;
  }

  &:focus::placeholder {
    color: transparent;
  }

  &:disabled {
    color: #ffffff;
    border-bottom: #ffffff 1px solid;
    opacity: 20%;
  }
}

.form-input--error {
  border-bottom: #ff121f 1px solid;
}

@media (min-width: $tablet-width) {
  .form-input {
    font-family: "Roboto-regular", sans-serif;
    padding: 0 0 3px;
    width: 204px;

    &:focus {
      width: 197px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-input {
    width: 222px;

    &:focus {
      width: 215px;
    }
  }
}
