.features-block {
  margin: 40px 0;
  font-family: "Roboto-bold", sans-serif;
  text-align: center;
  color: #ffffff;
  padding: 30px 0 40px;
  width: 100%;
  background-color: #1C3374;
}

.features-block h3 {
  margin: 0 0 5px;
  font-size: 64px;
  line-height: 64px;
  padding: 0;
}

.features-block h4 {
  margin: 0 0 20px;
  font-size: 22px;
  line-height: 22px;
  padding: 0;
}

.features-block p {
  margin: 0 auto;
  font-family: "Roboto-light", sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding: 0;
  width: 170px;
}
